/.ansible
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.lesshst
/.profile
/.ssh
/.sudo_as_admin_successful
/.viminfo
/.vscode-server
/.wget-hsts
/OpenDayLight_Install.txt
/vmdeployed.txt
/ansible/vault.yml
